<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.base.basepedo">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-feature android:name="android.hardware.sensor.accelerometer"
        />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"
        />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--android:process="com.base.basepedo.step"-->
        <service
            android:name="com.base.basepedo.service.StepService"
            android:priority="1000"
            android:process=":process1">
            <intent-filter>
                <!-- 系统启动完成后会调用-->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_TIME_TICK" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </service>

        <receiver android:name=".service.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- 守护进程相关 -->

        <receiver
            android:name=".receiver.Receiver1"
            android:process=":process1" />

        <service
            android:name=".service.DaemonService"
            android:process=":process2" />
        <receiver
            android:name=".receiver.Receiver2"
            android:process=":process2" />

    </application>

</manifest>
